body {
    background-color: #121212;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
  }
  
  h1 {
    color: #1db954;
  }
  
  #login-button {
    background-color: #1db954;
    color: #fff;
  }
  
  .card {
    background-color: #1e1e1e;
  }
  
  .card-title {
    color: #fff;
  }
  
  .spinner-border {
    color: #fff;
  }