body {
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
  }
  
  h1 {
    color: #1db954;
  }
  
  #login-button {
    background-color: #1db954;
    color: #fff;
  }
  
  .card .card-body {
    background-color: #242424;
  }
  
  .card-title {
    color: #fff;
  }
  
  .spinner-border {
    color: #fff;
  }